.body {
  background-color: rgba(128, 128, 128, 0.507);
  background-image: url(./thumbnail_20211219_162032__2_-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: right 2cm top 4cm;
  background-size: 600px;
}
.about-nav {
  text-shadow: 2px 2px rgb(170, 15, 15);
  color: rgb(253, 252, 250);
}

.main {
  width: 30%;
  height: 50%;
  margin-top: 10%;
  color: white;
  animation: text 7s alternate infinite;
}
@keyframes text {
  from {
    color: red;
  }
  to {
    color: blue;
  }
}

.html,
.sass,
.css,
.framework,
.java {
  position: absolute;
  font-size: 100px;
}
.html {
  top: 10%;
  left: 5%;
  transform: rotate(20deg);
  color: rgb(97, 155, 22);
}
.framework {
  top: 25%;
  left: 6%;
  transform: rotate(-25deg);
  color: cadetblue;
}
.sass {
  top: 55%;
  left: 3%;
  color: coral;
}
.css {
  top: 50%;
  left: 20%;
  transform: rotateZ(90deg);
  color: firebrick;
}
.java {
  top: 85%;
  display: flex;
}
.about {
  font-size: 50px !important;
}

.about-nav:hover {
  transform: translateX(6px);
  color: yellow;
  opacity: 1;
}

.about-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  text-shadow: 1px 1px white;
}

@media (max-width: 580px) {
  .html,
  .framework,
  .css,
  .sass,
  .java {
    display: none;
  }

  .body {
    background-position: left -1cm top 0cm;
    background-size: 200px;
  }
  @keyframes text {
    from {
      color: white;
    }
    to {
      color: white;
    }
  }
  .main {
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 581px) and (max-width: 799px) {
  .html,
  .framework,
  .css,
  .sass {
    font-size: 35px;
  }
  .java {
    top: 65%;
  }
  .about {
    font-size: 20px !important;
  }
  .framework {
    left: 0;
    top: 27%;
  }
  .sass,
  .css {
    top: 45%;
  }
  .about-page {
    background-image: none;
  }
  .main {
    width: 70%;
    margin-right: 0;
  }
}

@media (min-width: 800px) and (max-width: 1320px) {
  .html,
  .framework,
  .css,
  .sass {
    font-size: 40px;
    top: 15%;
  }
  .framework {
    left: 0;
    top: 35%;
  }
  .sass,
  .css {
    top: 55%;
  }
  .about {
    font-size: 25px !important;
  }
  .body {
    background-position: right -3cm top 3cm;
  }

  .main {
    width: 40%;
  }
}
@media (min-width: 1321px) {
  .body {
    background-position: right -1cm top 4cm;
  }
  .framework {
    left: 0;
    top: 350px;
    font-size: 90px;
  }
  .sass,
  .css {
    top: 600px;
  }
 
}
